
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding-top: 2em;
  padding-bottom: 2em;
  
  font-family: sans-serif;
}

#submit-row {
  text-align: center;
}

#main-table > tbody > tr > th {
  text-align: right;
  padding-right: 1em;
  color: #333;
}

#submit-row {
  padding-top: 1em;
}

#plain-text-pw-field {
  color: #393;
}

img.copy-icon { width: 0.75em; height: 0.75em; }

button {
  border: none;
  cursor: pointer;
  background: transparent;
}

button:hover {
  background-color: #eee;
}

#copy-acknowledgement {
  visibility: hidden;
}

#copy-acknowledgement.activated {
  visibility: visible;
}

#plain-text-pw-field {
  font-family: monospace;
}

#domain-form {
  margin-top: 2em;
  font-size: small;
}

#domain-field {
  width: 5em;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: right;
  margin-left: 1em;
  font-size: small;
}

